<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.mapper.UserMapper">

	<!-- 开启二级缓存 -->
	<cache />

	<insert id="addUserNoPar">
		insert into user (username,password)
		values('郭富城','88888888')
	</insert>
	<insert id="addUserByPar"
		parameterType="com.chinasoft.pojo.User">
		insert into user
		(id,username,password,phone,address,email)
		values(#{id},#{username},#{password},#{phone},#{address},#{email})
	</insert>

	<!--更具想要的字段排序 -->
	<select id="selectOrderBy" parameterType="string"
		resultType="user">
		select * from user order by ${column}
	</select>

	<!--查询一个用户 -->
	<select resultType="User" id="selectOneByPar"
		parameterType="int">
		select * from user where id = #{aaa}
	</select>

	<!--登录功能 -->
	<select resultType="User" id="selectLogin" parameterType="user">
		select
		* from user where username= #{username} and
		password=#{password}
	</select>

	<!--动态sql ————if -->
	<select id="findUserWith_if" resultType="user"
		parameterType="user">
		SELECT * FROM user
		WHERE username = #{username}
		<if test="password != null">
			AND password = #{password}
		</if>
	</select>


	<!--动态sql ————foreach -->

	<select id="findUsersWithList" parameterType="list"
		resultType="user">
		SELECT *
		FROM user u
		WHERE ID in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>

	</select>


	<!-- 动态添加sql  —— if -->
<!--	<insert id = "addUserWith_if"-->
<!--		parameterType ="user">-->
<!--&lt;!&ndash;		insert into user&ndash;&gt;-->
<!--&lt;!&ndash;		(id,username,password,phone,address,email)&ndash;&gt;-->
<!--&lt;!&ndash;		values(#{id},#{username},#{password},#{phone},#{address},#{email})&ndash;&gt;-->
<!--&lt;!&ndash;		<if test="password != null">&ndash;&gt;-->
<!--&lt;!&ndash;			AND password = #{password}&ndash;&gt;-->
<!--&lt;!&ndash;		</if>&ndash;&gt;-->
<!--		&lt;!&ndash; 动态sql插入方法二   start &ndash;&gt;-->
<!--		&lt;!&ndash; 对应的插入字段的名字 &ndash;&gt;-->
<!--		-->
<!--	-->
<!--	</insert>-->

	<sql id="key">
		<trim suffixOverrides=",">
			<if test="id!=null and id!=''">
				id,
			</if>
			<if test="username!=null and username!=''">
				username,
			</if>
			<if test="password!=null and password!=''">
				password,
			</if>
			<if test="email!=null and email!=''">
				email,
			</if>
			<if test="address!=null and address!=''">
				address,
			</if>
			<if test="phone!=null and phone!=''">
				phone,
			</if>
		</trim>
	</sql>

	<!-- 对应的插入字段的值 -->
	<sql id="values">
		<trim suffixOverrides=",">
			<if test="id!=null and id!=''">
				#{id},
			</if>
			<if test="username!=null and username!=''">
				#{username},
			</if>
			<if test="password!=null and password!=''">
				#{password},
			</if>
			<if test="email!=null and email!=''">
				#{email},
			</if>
			<if test="address!=null and address!=''">
				#{address},
			</if>
			<if test="phone!=null and phone!=''">
				#{phone},
			</if>
		</trim>
	</sql>
	<insert id="addUserWith_if" parameterType="user">
		insert into smbms_user(<include refid="key"/>)
		values(<include refid="values"/>)
	</insert>
	<!-- 动态sql插入方法  end-->

</mapper>